{
  "presets": [
    "es2015"
  ],
  "plugins": [
  	["transform-regenerator", {
      "asyncGenerators": false,
      "generators": false,
      "async": true
    }],
    "transform-flow-strip-types",
    "transform-es2015-spread",
    "transform-object-rest-spread"
  ]
}
