{
  "presets": [["env", {
  	"loose": true,
  	"useBuiltIns": false
  }]],
  "plugins": [
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    "transform-es2015-spread",
    "transform-flow-strip-types",
    "transform-class-bound-properties",
    "transform-node-env-inline"
  ]
}
