body {
    margin: 0px;
    overflow: hidden;
    background-image: url('millim-mono.gif');
}
body[connected="true"] {
    background-image: url('millim.gif');
    height: 300px;
    width: 300px;
}
span#rtt {
    position: fixed;
    left: 10px;
    bottom: 10px;
    color: #888;
    font-family: 'Verdana';
    font-size: 10pt;
    font-style: italic;
}
span#count {
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: #888;
    font-family: 'Verdana';
    font-size: 10pt;
    font-style: italic;
}
span.mouse {
    position:absolute;
    color: #002;
    font-size: 25px;
    /* text-shadow: 2px 2px 2px #aaa; */
    cursor: default;
}
span#uri {
    position: fixed;
    left: 10px;
    top: 10px;
    color: #888;
    font-family: 'Verdana';
    font-size: 9pt;
    font-style: italic;
}
p.online {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
}
