
body {
    background: #fff;
}

body[local='1'] {
    background: #eef;
}

a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted #aaa;
}

table {
    width: 930px;
    margin: auto;
}

tr {
    width: 930px;
    height: 300px;
}

td {
    height: 300px;
    width: 300px;
    max-width: 300px;
    padding-bottom: 10px;
}

iframe.example {
    width: 300px;
    height: 300px;
    vertical-align: middle;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    border: 1px solid #eee;
}

p.head {
    margin-top: 10px;
}

td.preamble{
    text-align: center;
}

p.subtitle {
    font-family: "Georgia";
    font-size: 24px;
    /*padding-right: 100px;*/
}

td.legend {
    vertical-align: top;
}

td.legend p {
    margin: 10px;
    font-family: "Georgia";
    font-size: 15px;
}

div.preamble, div.story, ul.links {
    margin: auto;
    text-align: justify;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 700px;
}
div#disqus_thread {
    margin: auto;
    font-size: 20px;
    max-width: 700px;
}
div#disqus_thread iframe {
    box-shadow: none;
}
p.cta {
    /*font-size: 24px;*/
    margin-top: 20px;
    margin-bottom: 20px;
}
p.summary {
    font-size: 20px;
    width: 700px;
    margin: auto;
    text-align: justify
}
div.example {
    display: table-row;
    width: 1000px;
}
div.example.mice div.legend {
    /**background: url('mice-scheme.png');
    background-repeat: no-repeat;*/
}
ul {
    font: "Verdana" 12px #224;
}
h1, h2, h3 {
    width: 700px;
    margins: auto;
    text-align: center;
}
h3 {
    font-size: 22px;
    text-align: left;
}
ul.links {
}
img#spec {
    width: 100%;
}
span.reddit_button {
    font-size: 17px;
}
