body {
    background: url(win95.gif);
}
p.online {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
}
body {
    margin: 0px;
    padding: 0px;
}
table.program {
    width: 300px;
    height:300px;
    margin: 0px;
    border: 0px;
    font-size: 8pt;
    background: #aaa;
    border-spacing: 2px;
}
td {
    box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.75);
    background: #ffd;
    width: 84px;
    max-width: 84px;
    min-width: 84px;
}
th {
    background: #333;
    color: white;
    box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.75);
}
td.selected {
    background: white;
}
td.time {
    background: #555;
    color: #eee;
    width: 28px;
    max-width: 28px;
    min-width: 28px;
}
td.lunch {
    text-align: center;
    font-style: italic;
}
td.attend {
    background: white;
}
td.skip {
    background: #776;
}
span.title {
}
span.speakers {
    font-style: italic;
    white-space: nowrap;
}
